@layout('index')
@section('content')
  <header>
      <div class="jumbotron">
          <div class="row">
              <div class="col-6">
                  <img src="headerimg.svg" alt="">
              </div>
              <div class="col-6">
                  <h1>Database Kepegawaian</h1>
              </div>
          </div>
      </div>
  </header>
@endsection